{% extends 'base.html.twig' %}

{% block title %}Hello ListlocationController!{% endblock %}

{% block body %}

<div class="containerchooselogement">
    <h1>Choix de logement</h1>
    
    <!-- Content before the links -->
    
    <p>
          <a href="{{ path('app_createLocation', {'typeLocation': 'Boat'}) }}" class="btn btn-success">Create Boat Location</a>
        
            <a href="{{ path('app_createLocation', {'typeLocation': 'Appart'}) }}" class="btn btn-danger">Appart</a>
     
            <a href="{{ path('app_createLocation', {'typeLocation': 'House'}) }}" class="btn btn-success">House</a>
  
            <a href="{{ path('app_createLocation', {'typeLocation': 'TreeHouse'}) }}" class="btn btn-secondary">TreeHouse</a>
     </p> 
    
</div>

        
{% endblock %}

 






